* {
	font-family: Lato;
	box-sizing: border-box;
}

body {
  background: url(assets/images/notebook.jpg) center center no-repeat;
  background-size: cover;
}


.Header {
  font-weight: bold;
}

.Header .pure-menu-heading {
  border-right: 1px solid;
}

.Header .pure-menu-link {
  text-decoration: none;
}

.Header .pure-menu-link:hover {
  transition: color 1s cubic-bezier(0.24,.8,.55,.94);
  color: white;
  background-color: rgba(0,0,0,0);
}

.Header .pure-menu-link.active {
  color: #009cde;
}


.content {
	padding: 40px 20%;
}

footer {
  font-weight: bold;
  padding: 5px 40px;
}


.grey-text {
  color: #808184;
}

.transparent-black-background {
  opacity: 0.7;
  background-color: #000;  
}